In [2]:
import pandas as pd
from pathlib import Path

In [3]:
data_file = Path("Resources", "data", "data.csv")

covid_df = pd.read_csv(data_file)
covid_df.sample(10)

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
37293,Uruguay,South America,-32.52,-55.77,16,2.80,3.74,16190.1,3456750,35,15,12/9/2020,6353.0,8104.0,87.0
11955,Greece,Europe,39.07,21.82,17,4.21,6.26,19582.5,10760421,45,22,7/28/2020,6223.0,4279.0,203.0
6356,Colombia,South America,4.57,-74.30,25,1.71,1.82,6428.7,49065615,32,8,4/9/2020,NaN,2223.0,69.0
33492,Thailand,Asia,15.87,100.99,27,2.10,0.47,7806.7,69037513,40,12,8/18/2020,4200.0,3381.0,58.0
14460,Iraq,Asia,33.22,43.68,24,1.40,0.85,5955.1,38274618,20,3,4/23/2020,2002.0,1677.0,83.0
38195,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,5/28/2020,186.0,149.0,4.0
31939,South Korea,Asia,35.91,127.77,13,12.27,2.33,31846.2,51466201,43,14,10/18/2020,5539.0,25275.0,444.0
36580,United Kingdom,Europe,55.38,-3.44,8,2.54,2.82,42330.1,66022273,40,18,1/22/2021,629416.0,3594098.0,96166.0
8199,Denmark,Europe,56.26,9.50,8,2.50,3.66,60170.3,5769603,42,20,5/4/2020,17830.0,9868.0,493.0
31431,South Africa,Africa,-30.56,22.94,17,2.32,0.82,6001.4,56717156,27,5,7/6/2020,33950.0,205721.0,3310.0

In [4]:
covid_df.columns

Index(['Entity', 'Continent', 'Latitude', 'Longitude',
       'Average temperature per year', 'Hospital beds per 1000 people',
       'Medical doctors per 1000 people', 'GDP/Capita', 'Population',
       'Median age', 'Population aged 65 and over (%)', 'Date', 'Daily tests',
       'Cases', 'Deaths'],
      dtype='object')